{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/bck_img.png')}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Explore</h1>
                    <span class="subheading">Explore our amazing blog posts!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5 expl-filter">
    <div class="row gx-4 gx-lg-5 justify-content-md-center" style="text-align: center;">
        {{ wtf.quick_form(form, novalidate=True, form_type="inline",
        button_map={"submit": "default"}) }}
    </div>
    <div class="row gx-4 gx-lg-5 ">
        <div>
            {{ wtf.quick_form(order, novalidate=True, form_type="inline",
        button_map={"submit": "default"}) }}
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for post in all_posts.items %}
            <div class="post-preview-s card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('show_post', post_id=post.id) }}">
                            <h2 class="post-title text-uppercase">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        </a>
                        <p class="card-date">{{ post.date.strftime('%B %d, %Y') }} <br> {{ post.country.name }}</p>
                    </div>
                    <hr class="my-4"/>
                    <p class="card-text">{{ (post.body[:100] + '...')|safe }}</p>
                </div>
            </div>
            {% endfor %}

            <div>
                    <!-- Pagination Links-->
            <div class="text-center">
                <a href="{{ url_for('explore', page=all_posts.prev_num) }}"
                   class="btn btn-outline-dark
       {% if all_posts.page == 1 %}disabled{% endif %}">
                    &laquo;
                </a>
                <!-- Loop through the number of pages to display a link for each-->
                {% for page_num in all_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                <!-- Check for the active page and set the link to "Active"-->
                {% if all_posts.page == page_num %}
                <a href="{{ url_for('explore', page=page_num) }}"
                   class="btn btn-dark">
                    {{ page_num }}
                </a>
                {% else %}
                <a href="{{ url_for('explore', page=page_num) }}"
                   class="btn btn-outline-dark">
                    {{ page_num }}
                </a>
                {% endif %}
                {% else %}
                ...
                {% endif %}
                {% endfor %}
                <a href="{{ url_for('explore', page=all_posts.next_num) }}"
                   class="btn btn-outline-dark
       {% if all_posts.page == all_posts.pages %} disabled{% endif %}">
                    &raquo;
                </a>
            </div>
            <p class="text-center mt-3">
                Showing page {{ all_posts.page }} of {{ all_posts.pages }}
            </p>
            </div>


        </div>
    </div>

</div>


<!-- Footer-->
{% include "footer.html" %}

{% endblock %}