{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/bck_img.png')}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Travel Blog</h1>
                    <span class="subheading">a blog by twinsters</span>
                    {% if current_user.is_authenticated: %}
                    <a class="btn btn-primary text-uppercase create_post" href="{{url_for('add_new_post')}}">Create Post
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for post in all_posts %}
            <div class="post-preview card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('show_post', post_id=post.id) }}">
                            <h2 class="post-title text-uppercase">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        </a>
                        <p class="card-date">{{ post.date.strftime('%B %d, %Y') }}</p>
                    </div>
                    <hr class="my-4"/>
                    <p class="card-text">{{ (post.body[:260] + '...')|safe }}</p>
                </div>
                <a class="btn text-uppercase" href="{{ url_for('show_post', post_id=post.id) }}">CONTINUE READING</a>
            </div>
            {% endfor %}

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{ url_for('explore') }}">Older Posts
                →</a></div>
        </div>
    </div>
</div>
<!-- Footer-->
{% include "footer.html" %}
